<style>
    .panel-style {
        width: 196px;
        background: cyan;
        height: 400px
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div id="myTemplate"></div>
<div>
    <button onclick="downloadPdf()" >Download Pdf</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" id="eee" value={{{data1}}} />
                    <div id="barchart_values1" style="width: 900px; height: 600px;"></div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default panel-style">
                        <div class="panel-body">
                            <div>
                                <span id="selectCity">Select city</span>
                            </div>
                            <div class="example1" id="example1">
                                <input type="text" id="myInput" onkeyup="searchCity()" placeholder="Search for names..">
                                <div>
                                    <input type="checkbox" name="selectall1" id="selectall1" onclick="toggle(this)" class="all">
                                    <label for="selectall1">Select all</label>
                                </div>
                                {{#each city}}
                                <div>
                                    <input type="checkbox" class="chk" name="check[]" onclick="checkBoxClick('+{{this.name}}+')" id="check{{@index}}" value="{{this.name}}">
                                    <label for="check1">{{this.name}}</label>
                                </div>
                                {{/each}}
                            </div>
                            {{!-- https://codepen.io/elmahdim/pen/hlmri --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
		//$('.example1').checkboxall();
</script>
<script type="text/javascript">
    function checkBoxClick(totalChkBoxLen) {
        var val = [];
        $(':checkbox[class=chk]:checked').each(function (i) {
            val[i] = $(this).val();
        });
        if (totalChkBoxLen == val.length) {
            //$('input[name=selectall1]').attr('checked', true);
            $("#selectall1").prop("checked", true);
        } else {
            //$('input[name=selectall1]').attr('checked', false);
            //$("#selectall1").removeAttr('checked')
            $("#selectall1").prop("checked", false);
        }
        console.log(val.join());
    }

    function toggle(source) {
        checkboxes = document.getElementsByClassName('chk');
        var val = [];
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
            val[i] = checkboxes[i].value;
        }
        console.log(source.id)
        if (document.getElementById(source.id).checked) {
            console.log(val.join())
        } else {
            val = [];
        }
    }
    function searchCity() {
        var searchVal = $('#myInput').val();
        console.log(searchVal);
    }
</script>
<script type="text/javascript">
    var arr = document.getElementById("eee").value;

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        /*
        var data = google.visualization.arrayToDataTable([
          ["Element", "Density", { role: "style" } ],
          ["Copper", 8.94, "#b87333"],
          ["Silver", 10.49, "silver"],
          ["Gold", 19.30, "gold"],
          ["Platinum", 21.45, "color: #e5e4e2"]
        ]);
        */
        //arr = typeof arr == 'string' ? [arr] : arr;
        //console.log(typeof (arr));
        //console.log(arr)
        var data = google.visualization.arrayToDataTable(//JSON.parse(arr)
             [
             ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General',
                 'Western', 'Literature' , { role: 'style' }],
             ['2010', 10, 24, 20, 32, 18, 5, 'red'],
             ['2020', 16, 22, 23, 30, 16, 9, 'Green'],
             ['2030', 28, 19, 29, 30, 12, 13, 'Yellow']
         ]

        );


        var view = new google.visualization.DataView(data);
        /*view.setColumns([0, 1, 
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);*/
        /*
                var options = {
                    title: "Density of Precious Metals, in g/cm^3",
                    width: 600,
                    height: 400,
                    bar: { groupWidth: "95%" },
                    legend: { position: "none" },
                };
        */
        var options = {
            width: 600,
            height: 600,
            legend: { position: 'top', maxLines: 3 },
            bar: { groupWidth: '75%' },
            isStacked: true
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values1"));
        chart.draw(view, options);
    }

var divItem;
    $(document).ready(
    function(){
        divItem = $('.container-fluid').html();
        //console.log(divItem)

        $("#example1").hide();
        $("#selectCity").click(function () {
            $("#example1").toggle();
        });

        $("#myTemplate").template("templateEx");
    });

    function downloadPdf() {
        $.ajax({
            type: 'POST',
            url: '/pdf',
            data: divItem,
            dataType: 'json',
            success: function(resultData) { alert("Save Complete");;; }
        });
    }
</script>